doctype html
html(lang="en")
    head 
        title="Busbud URL Shortener"

    body
      div.container
          div.row
              h1 Busbud URL Shortener
              p Link not found

      
