doctype html 
html(lang="en")
    head 
        title="Busbud URL Shortener"
    body 
        div.container
            div.row
                h1. Busbud URL Shortener

            div.row 
              form(action='/', method="POST")
                  input(type="url", name="url")
                  input(type="submit", value="submit")