extend layout
block content
      div
        h3 Enter the URL you would like to shorten
        p.help-block If you enter a custom URL and it gives you a random one, it means your custom URL was already taken. Try another one!
        form.form-inline.row(action='/', method="POST")
            div.form-group
                input.linkbox(type="text", name="url", placeholder="http://longlink.com")
            div.form-group
                input.linkbox(type="text", name="slug", placeholder="Custom URL (ex: /fun) ")
            div.form-group
                input.btn.btn-primary.shorten-btn(type="submit", value="Submit")