extend layout
block content
      div
        h3 Enter the URL you would like to shorten
        p Be sure to add 'http://'
        form(action='/', method="POST")
            input(type="url", name="url")
            input(type="submit", value="submit")