doctype
html(lang="en")
    head 
        title="Busbud URL Shortener"
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
        script(src='/javascripts/bootstrap.min.js')
    body
        div.container-fluid.main
            div.container
                a(href='/').h1.main-header  Busbud URL Shortener
        div.container
            block content
